
body{
	font-family: "Cabin",sans-serif;	
	background-color: #686ac8;
	width:80%;
	margin:auto;
}

header{

	color: white;

}

.logo{
	float:left;
	margin-top:17px;
}

.cloud{
	font-size:26px;
}

h1{
	display: inline;
	font-size:26px;
}

.desktop-nav{
	overflow: auto;
	margin-bottom: 20px;


}
.desktop-nav ul{
	box-sizing: border-box;
	float:right;
}

.desktop-nav ul li{
	display: inline-block;
	list-style: none;
	padding: 10px 20px;
	text-align: center;


}

.desktop-nav ul li:hover{
	background-color:white;
}
.desktop-nav ul li:hover a{
	color:blue;
}

.desktop-nav ul li a{
	text-decoration: none;
	color: white;
}
.mobile-nav{
	display:none;
}
.mobile-nav{
	color: blue;
}

.buttons{
	margin: 20px 0px;
	display: inline-block;
}

.buttons a{
	margin-right: 5px;
	padding: 8px 20px;
	border: 2px solid white;
	color: white;
	background: rgb(118, 121, 226);
}

.lt-article{
	margin-top: 80px;
	width: 48%;
	text-align: left;
	display: inline-block;
	box-sizing: border-box;
}

.lt-article a{
	text-decoration: none;
}
section{
	overflow: auto;
	margin-top: 100px;
}

h2{
	font-size: 42px;
	margin:0;
}

p{
	line-height: 28px;
}
.rt-article{
	padding-top: 10px;
	float:right;
	width:50%;
}
.rt-article img{
	width: 90%;
}

@media screen and (max-width: 600px){

.lt-article, .rt-article, .rt-article img{
		display:block;
		width:100%;
		float:none;
	}
.desktop-nav{
	display:none;
}

.mobile-nav{
	display: block;
}
 .bars{
	float: right;
	margin-top: 25px;
	font-size:20px;
	color:white;
}
.mobile-nav{
	overflow: auto;
}
.mobile-nav ul{
  position: absolute;
  top: 27px;
  right:10px;
  z-index: 1;
  display: none;
  }


.mobile-nav ul li{
	display: block;
	list-style: none;
	padding: 10px 0px;
	text-align: center;
	border: 1px solid white;
}

.mobile-nav ul li:hover a{
	color:blue;
}
.mobile-nav ul li:hover{
	background-color:white;
}

.mobile-nav ul li a{
	text-decoration: none;
	color: white;
}

.mobile-nav:hover ul{
  display: block;
 }
 .logo{
	 margin-top: 23px;
 }
.cloud, h1{
	font-size: 20px;
}
h2{
	font-size: 35px;
}
.lt-article{
	margin-top:0px;
}

}